name: test-on-push-and-pr

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Run 'pr' target
      run: poetry run poe pr

  alpine:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run alpine integration tests
      run: DISTRO=alpine poetry run poe test-integ

  amazonlinux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run amazonlinux integration tests
      run: DISTRO=amazonlinux poetry run poe test-integ

  debian:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run debian integration tests
      run: DISTRO=debian poetry run poe test-integ

  ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run ubuntu integration tests
      run: DISTRO=ubuntu poetry run poe test-integ
